@use '@app/styles/variables';

:global(.dark-theme) {
	.nav {
		user-select: none;

		&::after {
			background-color: var(--mono700);
		}

		a {
			color: var(--mono700);

			&:global(.active) {
				color: var(--mono200);
			}
		}
	}
}

.accountsPage {
	:global(.page-title) {
		margin-bottom: variables.size(m);
	}
}

.nav {
	text-align: center;
	margin-bottom: variables.size(xl);

	&::after {
		content: '';
		display: block;
		width: 100%;
		max-width: 150px;
		margin: variables.size(m) auto;
		height: 1px;
		background-color: var(--mono600);
		transition: background-color ease 250ms;
	}

	a {
		color: var(--mono600);
		font-size: 14px;
		font-weight: variables.font-weight(bold);
		text-decoration: none;
		text-transform: uppercase;
		transition: color ease 250ms;

		&:global(.active) {
			color: var(--mono1000);
		}

		+ a {
			margin-left: variables.size(l);
		}
	}
}
