@use '@app/styles/variables';
@use '@app/styles/shared';

:global(.dark-theme) {
	.accounts {
		.section {
			background-color: var(--mono900);
			color: var(--mono200);
		}

		.account {
			.balance {
				color: var(--mono600);
			}
		}
	}
}

.accountsPage {
	display: flex;
	flex-direction: column;
}

.spinner {
	position: relative;
	margin: auto;
	bottom: var(--header-height);
}

.accounts {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	list-style: none;

	.section {
		font-size: 18px;
		font-weight: variables.font-weight(semi-bold);
		background-color: var(--mono200);
		border-radius: variables.size(s);
		padding: variables.size(s) variables.size(m);
		transition: background-color ease 250ms;
	}

	.account {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		padding: variables.size(m);

		+ .section {
			margin-top: variables.size(l);
		}

		.detail {
			text-align: left;

			b,
			span {
				display: block;
			}

			b {
				margin-bottom: variables.size(s);
			}
		}

		.balance {
			color: var(--mono700);
		}

		.actions {
			button {
				min-width: auto;
				width: 40px;
				padding: variables.size(xs);

				+ button {
					margin-left: variables.size(s);
				}

				svg path {
					fill: var(--white);
				}
			}
		}
	}
}

.modal {
	> div {
		max-width: 400px;
		padding-left: variables.size(xl);
		padding-right: variables.size(xl);
	}

	h2 {
		font-weight: variables.font-weight(medium);
		margin-bottom: variables.size(l);
	}

	form {
		> * + * {
			margin-top: variables.size(m);
		}

		button {
			display: block;
			width: 75%;
			margin: variables.size(l) auto 0;
		}
	}
}
