@use '@app/styles/variables';
@use '@app/styles/shared';

:global(.dark-theme) {
	.users {
		li {
			background-color: var(--mono900);
			color: var(--mono200);

			&:hover {
				color: var(--mono200);

				.userActions {
					button:not(:hover) {
						svg path {
							fill: var(--mono400);
						}
					}
				}
			}
		}

		.initials {
			&::before {
				background-color: var(--primary);
				border-color: var(--mono600);
			}

			&::after {
				color: var(--mono200);
			}
		}

		.userActions {
			button {
				&:hover {
					svg path {
						fill: var(--mono100);
					}
				}
			}
		}

		.addUserBtn {
			svg path {
				fill: var(--mono300);
			}
		}
	}
}

.usersPage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.spinner,
.users {
	margin: auto;
}

.spinner {
	position: relative;
	bottom: var(--header-height);
}

.users {
	$btn-size: 150px;
	$initials-size: 65px;
	$initials-font-size: 35px;

	width: 100%;
	max-width: $btn-size * 4;
	list-style: none;
	padding-bottom: var(--header-height);

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($btn-size, 1fr));
	grid-gap: variables.size(m);

	li {
		width: 100%;
		min-height: $btn-size;
		background-color: var(--primary);
		border-radius: variables.size(s);
		padding: variables.size(l);
		box-shadow: variables.shadow(400), variables.shadow(400);
		transition: background-color ease 250ms, color ease 250ms;
		cursor: pointer;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.user {
		font-size: variables.size(m);
		color: var(--mono200);
		text-align: center;
		overflow: hidden;
		z-index: variables.z-index(basic);

		&:hover {
			color: var(--mono1000);

			.initials {
				&::before {
					transform: translate(-50%, -50%) scale(8);
				}

				&::after {
					transform: translate(-50%, -50%) scale(2);
				}
			}

			.userActions {
				button:not(:hover) {
					svg path {
						fill: var(--mono600);
					}
				}
			}
		}
	}

	.initials {
		position: relative;
		width: $initials-size;
		height: $initials-size;
		margin: 0 auto variables.size(m);

		&::before,
		&::after {
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&::before {
			content: '';
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 2px solid var(--mono600);
			background-color: var(--mono200);
			transition: transform ease 500ms, background-color ease 250ms, border-color ease 250ms;
			z-index: -1;
		}

		&::after {
			content: attr(data-initials);
			top: calc(50% - 1px);
			left: calc(50% - 1px);
			line-height: 2;
			color: var(--primary);
			font-size: $initials-font-size;
			font-weight: variables.font-weight(bold);
			text-transform: uppercase;
			transition: transform ease 200ms, color ease 250ms;
		}
	}

	.userActions,
	.addUserBtn {
		svg path {
			transition: fill ease 250ms;
		}
	}

	.userActions {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: variables.size(m);
		margin-top: variables.size(l);
		z-index: variables.z-index(low);

		button {
			@include shared.increase-clickable-area;
			@extend %btn-reset;

			&:hover {
				svg path {
					fill: var(--primary);
				}
			}
		}

		svg {
			path {
				fill: var(--mono300);
			}
		}
	}

	.addUserBtn {
		height: 100%;

		&:hover {
			svg {
				transform: scale(1.5) rotate(90deg);
			}
		}

		svg {
			margin: 0 auto;
			transition: transform ease 250ms;

			path {
				fill: var(--mono200);
			}
		}
	}
}

.modal {
	> div {
		max-width: 400px;
		padding-left: variables.size(xl);
		padding-right: variables.size(xl);
	}

	h2 {
		font-weight: variables.font-weight(medium);
		margin-bottom: variables.size(l);
	}

	form {
		> div {
			+ div {
				margin-top: variables.size(m);
			}
		}

		button {
			display: block;
			width: 75%;
			margin: variables.size(l) auto 0;
		}
	}
}
