@use '@app/styles/variables';
@use '@app/styles/shared';

.button {
	@extend %btn-reset;

	$button-min-width: 100px;
	$button-min-height: 35px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: $button-min-width;
	min-height: $button-min-height;
	padding: variables.size(s) variables.size(l);
	border-radius: variables.size(s);
	font-size: 16px;
	font-weight: variables.font-weight(semi-bold);
	color: var(--white);
	user-select: none;
	transition: color ease 250ms, background-color ease 250ms;

	&:disabled {
		background-color: var(--mono400);
		color: var(--mono200);
		pointer-events: none;
	}

	&.primary {
		background-color: var(--primary);

		&:hover,
		&:focus {
			background-color: var(--primary100);
		}

		&:active {
			background-color: var(--primary200);
		}
	}

	&.positive {
		background-color: var(--positive);

		&:hover,
		&:focus {
			background-color: var(--positive700);
		}

		&:active {
			background-color: var(--positive800);
		}
	}

	&.negative {
		background-color: var(--negative);

		&:hover,
		&:focus {
			background-color: var(--negative700);
		}

		&:active {
			background-color: var(--negative800);
		}
	}

	&.warning {
		background-color: var(--warning);

		&:hover,
		&:focus {
			background-color: var(--warning700);
		}

		&:active {
			background-color: var(--warning800);
		}
	}
}
