@use '@app/styles/variables';
@use '@app/styles/shared';

$_card-width: 300px;
$_card-height: 185px;

:global(.dark-theme) {
	.card {
		background-color: var(--mono1000);
	}

	.actions {
		button {
			&:hover {
				svg path {
					fill: var(--mono100);
				}
			}

			svg path {
				fill: var(--mono500);
			}
		}
	}

	.map {
		opacity: 0.3;
	}

	.content {
		color: var(--mono100);
	}
}

.card {
	position: relative;
	min-width: $_card-width;
	max-width: $_card-width;
	height: $_card-height;
	padding: variables.size(m);
	border-radius: variables.size(s);
	border: 1px solid var(--mono800);
	background-color: var(--mono500);
	box-shadow: variables.shadow(500), variables.shadow(500);
	overflow: hidden;
	user-select: none;
	transition: background-color ease 250ms;
	z-index: variables.z-index(basic);

	&::after {
		content: '';
		position: absolute;
		top: var(--mouse-position-y);
		left: var(--mouse-position-x);
		width: 100%;
		height: 100%;
		opacity: 0.05;
		background-image: radial-gradient(circle, var(--mono100), var(--mono200));
		transform: translate(-50%, -50%);
		filter: blur(50px);
	}
}

.actions,
.map,
.logo {
	position: absolute;
}

.actions,
.logo {
	top: variables.size(m);
}

.actions {
	left: variables.size(m);
	z-index: variables.z-index(basic);

	button {
		@extend %btn-reset;

		+ button {
			margin-left: variables.size(m);
		}

		&.delete {
			&:hover {
				svg path {
					fill: var(--negative);
				}
			}
		}

		&:hover {
			svg path {
				fill: var(--mono1000);
			}
		}

		svg {
			path {
				fill: var(--mono700);
				transition: fill ease 250ms;
			}
		}
	}
}

.map {
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0.1;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: opacity ease 250ms;
	z-index: -1;
	filter: brightness(0);
}

.logo {
	right: variables.size(m);
	max-width: 50px;
	max-height: 40px;
	object-fit: contain;
	object-position: center;
	opacity: 0;
	animation: reveal ease forwards 250ms;
}

.content {
	margin-top: 40%;
	color: var(--mono900);
	transition: color ease 250ms;

	p {
		font-family: 'credit-card';
		text-align: left;
		letter-spacing: 1.5px;
	}

	.number {
		height: 25px;
		font-size: 15px;
	}

	.expirationDate {
		margin-top: variables.size(s);
		transition: opacity ease 250ms;

		&.noDate {
			opacity: 0.25;
		}

		&:not(.separator) {
			font-size: 10px;
		}

		.separator {
			position: relative;
			bottom: 3px;
		}
	}
}
