@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--primary-font: 'Roboto', sans-serif;
	// --secondary-font: Calibri, Calibri-Fallback, Arial, sans-serif;

	// Sizes
	--header-height: 75px;

	// Color scales
	// ====================
	// Primary
	--primary: #6e62c2;
	--primary100: #a7c3d3;
	--primary200: #8fa7c6;
	--primary300: #7787b9;
	--primary400: #5f64aa;
	--primary500: #52489c;
	--primary600: #573e8a;
	--primary700: #593477;
	--primary800: #562a64;
	--primary900: #502151;

	// Accent
	--accent: #4062bb;
	--accent100: #a2e3e2;
	--accent200: #89cdda;
	--accent300: #70aed0;
	--accent400: #588bc6;
	--accent500: #4062bb;
	--accent600: #363da6;
	--accent700: #3b2d90;
	--accent800: #432479;
	--accent900: #441c62;

	// Mono
	--white: #ffffff;
	--black: #111111;
	--mono100: #ffffff;
	--mono200: #f5f5f5;
	--mono300: #ededed;
	--mono400: #e3e3e3;
	--mono500: #cccccc;
	--mono600: #b0b0b0;
	--mono700: #757575;
	--mono800: #545454;
	--mono900: #333333;
	--mono1000: #222222;
	--transparent: rgba(#111111, 0%);

	// Negative
	--negative: #c70326;
	--negative50: #fee3e4;
	--negative100: #fbbdc0;
	--negative200: #f5979e;
	--negative300: #ed727e;
	--negative400: #e34c5f;
	--negative500: #d62642;
	--negative600: #c70326;
	--negative700: #9d0027;
	--negative800: #6d0023;
	--negative900: #390017;

	// Warning
	--warning: #ffaf38;
	--warning50: #fff9f0;
	--warning100: #ffefd6;
	--warning200: #fad8a5;
	--warning300: #fac069;
	--warning400: #ffaf38;
	--warning500: #c28526;
	--warning600: #996920;
	--warning700: #664615;
	--warning800: #463410;
	--warning900: #33230b;

	// Positive
	--positive: #0cca98;
	--positive50: #eefbee;
	--positive100: #c9f3cd;
	--positive200: #a3ebb3;
	--positive300: #7de2a1;
	--positive400: #58da96;
	--positive500: #32d293;
	--positive600: #0cca98;
	--positive700: #06ac80;
	--positive800: #028d67;
	--positive900: #006c4d;
}
