@use './variables';

input,
textarea,
select {
	border: 1px solid var(--mono700);
	border-radius: variables.size(xs);

	// Removes autocomplete styles
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0;
	}

	&::selection {
		background-color: var(--primary500);
		color: var(--white);
	}

	&:focus {
		outline: none;
		border-color: var(--primary);
		box-shadow: 0 0 0 1px var(--primary200);
	}
}