@use './variables';

input,
textarea,
select {
	display: block;
	width: 100%;
	border: 1px solid var(--mono700);
	border-radius: variables.size(xs);

	// Removes autocomplete styles
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0;
	}

	&::selection {
		background-color: var(--primary);
		color: var(--white);
	}

	&:focus {
		outline: none;
		border-color: var(--primary);
		box-shadow: 0 0 0 1px var(--primary200);
	}
}

input,
select,
textarea {
	padding: variables.size(s);
}

input {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::-webkit-calendar-picker-indicator {
		opacity: 0;
	}

	&[type='number'] {
		-moz-appearance: textfield;
	}
}

textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 75px;
	max-height: 150px;
}
