*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--primary-font);
}

body {
	min-height: 100vh;
	background-color: var(--white);
	color: var(--black);
	transition: background-color ease 250ms;

	&.dark-theme {
		background-color: var(--mono1000);
		color: var(--white);
	}
}
