@use './variables';

.page-title {
	font-size: clamp(40px, 5vw, 50px);
	font-weight: variables.font-weight(light);
	margin-bottom: variables.size(xl);
	text-align: center;
}

.form-modal {
	// Content
	> div {
		max-width: 400px;
		padding-left: variables.size(xl);
		padding-right: variables.size(xl);

		// Title
		> h2 {
			font-weight: variables.font-weight(light);
			margin-bottom: variables.size(l);
		}

		> * + * {
			margin-top: variables.size(m);
		}
	}

	form {
		display: flex;
		flex-direction: column;
		gap: variables.size(m);

		button {
			display: block;
			width: 100%;
			margin: variables.size(l) auto 0;
		}
	}
}

.no-records-message {
	text-align: center;
	font-weight: variables.font-weight(light);
	color: var(--mono600);
}

.floating-action {
	$offset: 15px;
	$size: 50px;

	position: fixed;
	bottom: $offset;
	right: $offset;
	min-width: auto;
	min-height: auto;
	width: $size;
	height: $size;
	border-radius: 50%;
	box-shadow: variables.shadow(500), variables.shadow(500);
	z-index: variables.z-index(low);

	&:hover {
		svg {
			transform: scale(1.1) rotate(90deg);
		}
	}

	svg {
		margin: 0 auto;
		transition: transform ease 250ms;

		path {
			fill: var(--mono200);
			transition: fill ease 250ms;
		}
	}
}
