// Custom scrollbar
@mixin custom-scrollbar($size: 6px, $bg-color: var(--mono600), $thumb-color: var(--mono900)) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;

		&-track,
		&-thumb {
			border-radius: 20px;
		}

		&-track {
			background-color: $bg-color;
		}

		&-thumb {
			background-color: $thumb-color;
		}
	}
}

// Clickable area increaser
@mixin increase-clickable-area($size: 40px) {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: $size;
		height: $size;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}
